$colors: (
    white: #FFFFFF,
    black: #000000,

    // Dark colours
    pickledBluewood: #2c3e50,
    cocoaBrown: #342224, 
    bunting: #162447,
    luckyPoint: #151965,
    loulou: #54123b,
    navyBlue: #000272,
    cyprus: #003545,


    // Light colours
    mountainMeadow: #16a085,   
    butterCup: #f39c12, 
    cinnarbar: #e74c3c, 
    wisteria: #9b59b6, 
    bittersweet: #FB6964, 
    heatheredGrey: #BDBB99,
    chelseaCucumber: #73A857
);